/* App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container {
  max-width: 800px; /* Adjust as needed */
  width: 90%;
  margin-top: 20px;
}

.card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.icon {
  margin-right: 5px;
  cursor: pointer;
}

.details-right {
  text-align: right;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .details-container {
    margin-top: 0;
    margin-left: 20px;
  }
}

.recent-activity-header {
  background-color: rgb(0, 213, 255);
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.recent-activity-header h5 {
  background-color: rgb(0, 213, 255);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-activity-card {
  width: 350px; /* Adjust width as needed */
  border: 1px solid #ccc;
  border:none;
  position: absolute;
  top: 8%;
  right: 20px;
}


.recent-activity-header {
  background-color: rgb(0, 213, 255);
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.recent-activity-header h5 {
  margin: 0;
}

.latest-note-header {
  background-color: rgb(0, 213, 255);
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.latest-note-header h5 {
  background-color: rgb(0, 213, 255);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-note-card {
  width: 350px; /* Adjust width as needed */
  border: 1px solid #ccc;
  border:none;
  position: absolute;
  top: 30%;
  right: 20px;
}

.screenings-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.latest-note-header {
  background-color: rgb(0, 213, 255);
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.latest-note-header h5 {
  margin: 0;
}

.box-section {
  display: flex;
  gap: 20px; /* Adjust the value as needed */
}

.box {
  width: 13%;
  height: 13%;
  /* padding: 8px; */
  border: 2px solid blue;
  border-radius: 6px;
  margin-bottom: 16px;
  text-align: center;
}

.other-tabs {
  margin-top: 10px;
}

.other-tabs-box {
  border: 3px solid blue;
  border-radius: 8px;
  padding: 10px;
  
}
.other-tabs {
  flex: 1; /* Distribute available space equally among tabs */
  margin-right: 20px; /* Add space between tabs */
}


.other-tabs-container {
  display: flex;
  flex-wrap: nowrap; /* Ensure that tabs don't wrap to the next row */
}


@media screen and (max-width: 1024px) {
  .details-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .box {
    flex: 0 1 48%;
  }
}

@media screen and (max-width: 768px) {
  .details-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .box {
    flex: 0 1 48%;
  }
}

@media screen and (max-width: 600px) {
  .details-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .box {
    flex: 0 1 100%;
  }

  .card-body {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}